/*topbar*/
.topbar {
    display: flex;
    justify-content: end;
    background-color: black;
    padding: 10px;
}

.topbar img {
    width: 10%;
}

/*navbar*/

div .item-container img {
    width: 10%;
}

.custom-btn {
    background-color: rgb(72, 70, 70);
    border-radius: 30px;
    border: none;
    color: white;
    padding: 0px 6px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.custom-btn:hover {
    background-color: gray;
    transform: scale(1.05);

}


/*hero*/
.hero-container {
    position: relative;
    background-image: url(/img/jumbo-bg.png);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container h1 {
    margin-bottom: 20px;
}

.hero-banner {
    position: absolute;
    top: 170px;
    left: 20px;

}

@media(min-width: 992px) {
    .hero-banner {
        position: absolute;
        top: 170px;
        left: 20px;
    }
}

.hero-banner img {
    width: 45%;

}

@media(min-width: 992px) {
    .hero-banner img {
        width: 30%;
    }
}

.text-hero-container {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
}

@media(min-width: 992px) {
    .text-hero-container {
        max-width: 370px;
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: white;
    }
}

.custom-btn-red {
    background-color: rgb(249, 61, 9);
    border-radius: 30px;
    border: 0;
    color: white;
    padding: 5px 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.custom-btn-red:hover {
    background-color: rgba(241, 172, 34, 0.922);
    transform: scale(1.05);

}

.img-w {
    width: 100%;
}

.img-wt {
    width: 100%;
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .img-wt {
        max-width: 80%;
    }
}


/*console playstation 5 stile terza section*/
.ps-text-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ps-text-container :first-child {
    margin: 0;
    color: rgb(0, 128, 255);
}

.ps-text-container-2 {
    margin-left: 25px;


}

.custom-btn-blu {
    background-color: rgb(0, 128, 255);
    border-radius: 30px;
    border: none;
    color: white;
    padding: 5px 8px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.custom-btn-blu:hover {
    background-color: rgb(12, 163, 238);
    transform: scale(1.05);

}

@media(min-width: 768px) {
    .wrapper {
        display: flex;
        align-items: center;
    }


}

/* inizio stile quarta section playstation game*/
.hero-container-due {
    position: relative;
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-banner-due {
    position: absolute;
    top: 33px;
    left: 23px;

}

.hero-banner-due img {
    width: 50%;

}

@media(min-width: 768px) {
    .hero-banner-due img {
        width: 40%;
    }
}



@media(min-width: 992px) {
    .hero-banner-due img {
        width: 30%;
    }
}

@media(min-width: 992px) {
    .hero-banner-due {
        position: absolute;
        top: 33px;
        left: 23px;
    }
}

/*inizio stile quinta section playstation5 e plaistation4 game*/
.game-card p {
    color: white;
}

/*inizio stile sesta section console playstation4*/
.text-container-ps4 {
    text-align: center;
    margin-top: 20px;
}

.card-container {
    padding-left: 20px;
}

.ps4-card img {
    width: 100%;
}

@media(min-width: 768px) {
    .card-container {
        display: flex;
        padding: 0;
        margin-left: 20px;
    }
}

/*inizio stile settima section banner playstation plus*/
.ps-plus-container {
    background-color: rgb(75, 72, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.ps-plus-text {
    width: 50%;
}

.ps-plus-logo {
    width: 180px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

.ps-plus-text p {
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
    max-width: 500px;
}

.custom-btn-gainsboro {
    background-color: gainsboro;
    color: blue;
    border: none;
    padding: 8px 10px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.custom-btn-gainsboro:hover {
    background-color: rgb(69, 71, 229);
    transform: scale(1.05);

}

.ps-plus-image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.banner-plus {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
}

@media (max-width: 767px) {
    .ps-plus-container {
        padding: 20px;
    }

    .ps-plus-text {
        width: 100%;
    }

    .ps-plus-image {
        display: none;
    }

    .ps-plus-logo {
        width: 160px;
    }

    .ps-plus-text p {
        font-size: 14px;
    }
}

/*inizio stile ottava section sconti*/
.text-sconti {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.card-img img {
    width: 100%;
}

.container-immagni-sconti {
    text-align: center;
}

/*inizio nona section stile ps now*/
.container-ps-now {
    background-color: rgb(7, 7, 107);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-left: 10px;

}

.ps-now-logo {
    width: 220px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

.ps-now-text p {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    max-width: 500px;
}

.custom-btn-white {
    background-color: white;
    color: rgb(7, 7, 107);
    border: none;
    padding: 8px 10px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.custom-btn-white:hover {
    background-color: rgb(59, 127, 237);
    transform: scale(1.05);

}

.ps-now-img {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .container-ps-now {
        padding: 20px;
    }

    .ps-now-text {
        width: 100%;
    }

    .ps-now-img {
        display: none;
    }

    .ps-now-logo {
        width: 160px;
    }

    .ps-now-text p {
        font-size: 14px;
    }
}

/*inizio stile decima sezione*/
.social-midia-text {
    padding: 50px 50px;
    text-align: center;
}


/*ultima sezione stile footer*/


.play-logo {
    width: 60px;
    display: block;
    margin-bottom: 30px;
}

.globe-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 30px;
    color: white;
}

.globe-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
}


.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    color: white;
}

.footer-bottom {
    margin-top: 20px;
}

.logo-sony {
    width: 70px;
    display: block;
    margin-bottom: 15px;
}

.footer-bottom p {
    font-size: 15px;
    color: white;
}